{% extends "base.html" %} {% block title %} New Post{%
endblock %} {% block content %}

<div class="container mt-5">
	<h1 class="display-4 mb-4">
		Add Post for {{ user.first_name }} {{ user.last_name }}
	</h1>

	<form
		action="{{ url_for('submit_post', user_id=user.id) }}"
		method="post"
		class="needs-validation"
		novalidate
	>
		<div class="form-group">
			<label for="title" class="form-label">Title</label>
			<input
				type="text"
				class="form-control"
				id="title"
				name="title"
				required
			/>
		</div>

		<div class="form-group">
			<label for="content" class="form-label"
				>Content</label
			>
			<textarea
				class="form-control"
				id="content"
				name="content"
				rows="5"
				required
			></textarea>
		</div>

		<div class="form-group">
			<h2 class="display-2">Tags</h2>
			{% for tag in tags %}
			<div class="form-check">
				<input
					type="checkbox"
					class="form-check-input"
					id="tag_{{ tag.name }}"
					name="tags"
					value="{{ tag.id }}"
				/>
				<label
					class="form-check-label"
					for="tag_{{ tag.name }}"
					>{{ tag.name }}</label
				>
			</div>
			{% endfor %}
		</div>

		<div class="mt-4">
			<a
				href="{{ url_for('user_page') }}"
				class="btn btn-secondary"
				>Cancel</a
			>
			<button type="submit" class="btn btn-primary">
				Add
			</button>
		</div>
	</form>
</div>

{% endblock %}
