{% extends "base.html" %} {% block title %} New Post{%
endblock %} {% block content %}

<div class="container mt-5">
	<h1>{{post.title}}</h1>

	<p>{{post.content}}</p>

	<p>{{ post.user.first_name}} {{post.user.last_name}}</p>

	<div class="mt-4">
		<a
			href="{{ url_for('user_page')}}"
			class="btn btn-secondary"
			>Cancel</a
		>
		<a
			href="{{ url_for('edit_post', post_id=post.id)}}"
			class="btn btn-primary"
			>Edit</a
		>
		<form
			action="{{ url_for('delete_post', post_id=post.id) }}"
			method="POST"
			style="display: inline"
		>
			<button type="submit" class="btn btn-danger">
				Delete
			</button>
		</form>
	</div>
</div>

{% endblock %}
